services:
  # The Backend Service
  - type: web
    name: nebula-server
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18.0.0
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false

  # The Frontend Service (Static Site)
  - type: static
    name: nebula-client
    env: static
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: nebula-server
          property: url
